@import 'tailwindcss';
@import '@nuxt/ui';

:root {
  --ui-primary: var(--ui-color-primary-700);
}

.dark {
  --ui-primary: var(--ui-color-primary-200);
}

@theme {
  --font-sans: 'Public Sans', sans-serif;
}

body {
  @apply bg-gray-100 dark:bg-gray-900;
}
